.leftPanel{
    background: #333333;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
    margin-bottom: 10px;
    color: grey;
}

#select{
   /* background: #D9D9D9;*/
    background: #d0d1d4;
    color: black;
    font-weight: bold;
}
