.TestInfo{
    background-color: LightCyan;
}
.handleClickChange{
    margin: 7px;
}

.Buttons{
    flex-wrap: wrap;
    display: flex;
    gap: 20px 5px;
}
    padding: 10px;
.handleClickSave{
    margin: 7px; 
}

.handleClickCancel{
    margin: 7px; 
}

.Buttons{
    display: flex;
}
