.TestInfo{
    background-color: LightCyan;
}

<<<<<<< HEAD
.infoDiv{
    background-color: white;
    color: black;
}
.Buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
    padding: 10px;
}
    
=======
>>>>>>> alex_test
