.test{
    color: #fff;

    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.test p{
    margin: 0;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    color: white !important;
}

td {
    color: white !important;
}
input{
    color: white !important;
}
button {
   /* color: white !important;*/
}
span {
    color: white !important;
}
p{
    color: white !important;
}
/*.css-12q85cb-MuiTableCell-root {

    color: white !important;
}
.css-372vfo-MuiTableCell-root
{
    
    color: white !important;
}
.css-372vfo-MuiTableCell-root{
    color: white !important;
}*/

@media  (max-width: 891px),(max-width: 1244px) {
    .grid{
        display: grid;
        gap:10px;
        grid-template-columns: 3fr 1fr; 
    }
}


@media  (min-width: 1145px) {
    .grid{
        display: grid;
        gap: 10px;
        grid-template-columns: 3fr 2fr;
    }
}



@media  (max-width: 890px) {
    .grid{
        display: grid;
        gap:10px;
        grid-template-columns: 1fr; 
    }
}
