.MainInfo{
    font-size: 16px;
}

.MainInfo p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainInfo input{
    font-size: 16px;
}



.MainInfo .item1{
    flex: 1;
    background-color: white;
}

.MainInfo .item2{
    flex: 2;
    padding-top: 10px;
    ;
}

.MainInfo .item2 .containerMainInfo{
    display: flex;
    justify-content: space-around;
}

.containerMainInfo p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    min-width: 100px;
}

.origin{
    background: rgba(184, 165, 144, 0.3);
    border-radius: 5px;
    width: 252px;
    color: white;
    border: 1px solid white;
}

.containerMainInfo .birthday{
    background: rgba(184, 165, 144, 0.3);
    border-radius: 5px;
    width: 73px;
    height: 30px;
    color: white;
}


.styleMenuUserInfoConteiner{
    position: absolute;
    margin-top: 200px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(29,32,34,.7);
    opacity: 0;
    transition: all ease 0.8s;
}
.styleMenuUserInfoConteiner:hover{
    opacity: 1;
}
.styleMenuUserInfo
{
    display: grid;
    gap: 10px;

    opacity: 0;
    transition: all ease 0.8s;

}

.styleMenuUserInfo:hover{
    opacity: 1;
}