.test{
    color: rgb(0, 0, 0);

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.test p{
    margin: 0;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media  (max-width: 891px),(max-width: 1244px) {
    .grid{
        display: grid;
        gap:10px;
        grid-template-columns: 1fr 2fr; 
    }
}


@media  (min-width: 1145px) {
    .grid{
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 2fr;
    }
}



@media  (max-width: 890px) {
    .grid{
        display: grid;
        gap:10px;
        grid-template-columns: 1fr; 
    }
}
